.FlipTile {
    background-color: transparent;
    height: 400px;
    vertical-align: top;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  /* This container is needed to position the front and back side */
  .FlipTile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .FlipTile:hover .FlipTile-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .FlipTile-front, .FlipTile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .FlipTile-front {
    background-color: #bbb;
    color: black;
  }

  .FlipTile-front img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  /* Style the back side */
  .FlipTile-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  /* Responsive Design */