/* Menu Wrapper */

.MenuBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--padding-small) var(--padding-medium);
    display: flex;
    align-items: center;
    /* background-color: rgb(118, 66, 66); */
    background-color: var(--primary-color);
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 9999;
}

/* Menu Logo */

.MenuBar-logo img {
    height: var(--logo-size);
    display: block;
}

/* Menu Navigation List */

.MenuBar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: var(--navbar-spacing); /* Space between menu items */
}

.MenuBar-nav li {
    display: inline;
    line-height: 0px;
}

.MenuBar-nav a {
    padding: 0px;
    text-decoration: none;
    /* color: #fff; */
    color: var(--foreground-color);
    transition: color 0.3s ease;
}

.MenuBar-nav a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

/* Responsive Design */
/* 
@media (max-width: 768px) {
    .MenuBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .MenuBar-nav {
        flex-direction: column;
        gap: var(--navbar-spacing);
        padding: var(--padding-small) var(--padding-small);
    }
} */